@media screen and (max-width: 767px) {
    /* Estilos topo site */
    h1.titulo {
        font-size: 2rem;
    }
    /* fim estilos topo site */

    /* estilos especialidades */
    div.cursos {
        justify-content: center;
    }

    /* .texto-soft ul {
        font-size: 0.8rem;
    } */
    /* fim estilos especialidades */

    /* estilos sobre mim */
    .conteudo-sobre-mim .sticker2 img{
        max-width: 200px;
    }

    .text-me p {
        font-size: 0.7rem;
    }

    section.sobre-mim .redes-sociais {
        padding-left: 0px;
        gap: 10px;
    }

    .redes-sociais i {
        font-size: 1.8rem;
        padding: 5px 10px;
        border-radius: 9px;
    }
    /* fim esilos sobre mim */

    /* inicio estilos footer */
    footer .flex {
        justify-content: space-evenly;
        gap: 10px;
        flex-flow: row wrap;
    }
    /* fim estilos footer */
}

@media screen and (max-width: 1120px){
    .menu-desktop {display: none;}
    i#menu-hb {display: block;}
}



@media screen and (max-width: 1308px) { 
      /* estilos sobre mim */
    .conteudo-sobre-mim{
        flex-flow: row-reverse wrap;
    }

    section.sobre-mim .redes-sociais {
        justify-content: center;
    }

    .conteudo-sobre-mim .sticker2 {height: auto;}
    /* fim estilos sobre mim */
}


@media screen and (max-width: 1400px) {
    .interface {max-width: 90vw;}
}
