@media screen and (max-width: 767px) {
    h1.titulo {
        font-size: 2rem;
    }

    div.cursos {
        justify-content: center;
    }

    .texto-hard ul {
        font-size: 0.8rem;
    }

    .conteudo-sobre-mim .sticker2 img{
        max-width: 200px;
    }

    .text-me p {
        font-size: 0.7rem;
    }

    section.sobre-mim .redes-sociais {
        padding-left: 0px;
        gap: 10px;
    }

    .redes-sociais i {
        font-size: 1.8rem;
        padding: 5px 10px;
        border-radius: 9px;
    }

    footer .flex {
        justify-content: space-evenly;
        gap: 10px;
        flex-flow: row wrap;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .topo-do-site .flex {gap: 1px;}
}

@media screen and (max-width: 1120px){
    .menu-desktop {display: none;}
    i#menu-hb {display: block;}
}



@media screen and (max-width: 1308px) {   
    .conteudo-sobre-mim{
        flex-flow: row-reverse wrap;
    }

    section.sobre-mim .redes-sociais {
        justify-content: center;
    }

    .conteudo-sobre-mim .sticker2 {height: auto;}
}

@media screen and (max-width: 1400px) {
    .interface {max-width: 90vw;}
}
