@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cor001: #020124;
  --cor002: #29314D;
  --cor003: #3E4C7A;
  --cor004: #1B3280;
  --cor005: #284CBF;
  --cor006: #00ffff;
  --corspan:#00f7ff;
  --corparag: #ada3a3; 
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #01001a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2329314d' fill-opacity='0.19' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body::-webkit-scrollbar {
  display: none;
}

section {box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.589);}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

h1.titulo {
  margin: 30px 20px;
  padding-top: 15px;
  text-align: center;
  font-size: 3rem;
  width: 100%;
  color: aqua;
}
/* Fim estilo geral */

/* Estilo navbar */
header {
  width: 100%;
  padding: 5px 2%;
  background-color: var(--cor004);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

header > .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-desktop {
  display: flex;
  justify-content: center;
  width: 100%;
}

header a#nav {
  color: white;
  padding: 20px 30px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

.logo {width: 131px;}

a#logo{
  color: white;
  text-decoration: none;
}

a#logo h1 {font-size: 1.4rem;}

header a#nav:hover,  i#menu-hb:hover {
  background-color: #061446;
  transform: scale(1.05);
}

header nav.menu-desktop ul {
  align-items: center;
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 7px;
}

i#menu-hb {
  display: none;
  font-size: 1.6rem;
  padding: 15px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: .4s;
}
/* Fim estilo navbar */

/* Inicio estilização menu mobile */
.menu-mobile {
  background-color: var(--cor001);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  overflow: hidden;
  transition: all .3s;
}

.menu-mobile.abrir-menu {width: 70%;}

.menu-mobile .btn-fechar {
  padding: 20px 4%;
  cursor: pointer;
  width: 80px;
}

.menu-mobile .btn-fechar i {
  color: white;
  font-size: 30px;
}

.menu-mobile nav ul {
  text-align: right;
  list-style-type: none;
}

.menu-mobile nav ul li a {
  padding: 20px 8%;
  display: block;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.menu-mobile nav ul li a:hover  {background-color: var(--cor004);}
/* Fim estilização menu mobile */

/* Inicio estilo topo do site */
section.topo-do-site {
  height: calc(100vh - 81px);
  padding: 40px 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.589);
}

section.topo-do-site .flex {
  flex-flow: row wrap-reverse;
  gap: 3vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.topo-do-site h1 {
  font-size: 4vh;
  text-align: center;
  color: white;
  text-shadow: 4px 2px 6px var(--corspan);
}

span {color: var(--corspan);}

.img-perfil img {
  position: relative;
  width: 45vh;
  margin: 0 auto ;
  filter: drop-shadow(-1px 0px 8px var(--cor006));
  animation: flutuar 1.5s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0%{
    top: 0px;
  }
  100%{
    top: 30px;
  }
}
/* Fim estilização topo do site */

/* Inicio estilização area sobre */
div.cursos {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

div.card-cursos {
  background-color: #01001a;
  margin: 15px;
  padding: 1%;
  max-width: 220px;
  height: 290px;
  display: flex;
  gap: 2px;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(0, 255, 255, 0.384);
  transition: all .3s;
}

div.card-cursos:hover {
  box-shadow: 1px 1px 15px rgba(0, 255, 255, 0.589);
  transform: scale(1.05);
}

#primeiro-curso {
  display: flex;
  gap: 60px;
}

.card-cursos img {
  height: 53px;
  padding-top: 5px;
}

.card-cursos h1 {
  font-size: 1.3rem;
  color: aqua;

}

.card-cursos p {
  font-size: 0.9rem;
  color: var(--corparag);
  text-align: center;
}

.btn-cert {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  font-size: 1rem;
  margin: 60px auto 0;
  border: 2px solid #1c7ce2;
  background-color: transparent;
  transition: .3s all;
}

.btn-cert a {
  text-decoration: none;
  color: #1c7ce2;
  transition: .3s all;
}

.btn-cert:hover {background-color: #1c7ce2;}

.btn-cert:hover a {
  color: white;
}

.content-soft {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin-bottom: 20px;
}

.texto-soft {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 360px;
  padding: 0 10px;
}

.texto-soft ul {
  color: var(--corparag);
  line-height: 35px;
}

.texto-soft ul li::marker {
  color: var(--cor006);
}
/* Fim estilização area sobre */

/* Inicio Estilização area sobre mim */
.sobre-mim .interface {max-width: 90vw;}
.conteudo-sobre-mim {
  display: flex;
  flex-flow: row-reverse nowrap;
  gap: 30px;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.conteudo-sobre-mim .sticker2 {height: 100%;}

.conteudo-sobre-mim .sticker2 img {
  max-width: 450px;
  border-radius: 40px 0px;
  background-color: var(--cor005);
}

.text-me {
  display: block;
  align-self: flex-start;
  padding: 0px 40px;
}

.text-me p {
  font-size: 1.02rem;
  margin: auto;
  color: rgb(173, 163, 163);
  text-align: justify;
}

section.sobre-mim .redes-sociais {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding-left: 40px;
  width: 100%;
  height: 120px;
}

.sociais{
  cursor: pointer;
  transition: all .2s;
}

#insta:hover {box-shadow: -1px 1px 35px rgb(255, 0, 212);}

section.sobre-mim .sociais:hover {
  box-shadow: -1px 1px 35px rgba(255, 255, 255, 0.589);
  transform: translatey(-10px);
}

.redes-sociais i {
  font-size: 2.3rem;
  background-color: white;
  color: black;
  padding: 9px 14px;
  border-radius: 15px;
}
/* Fim estilização sobre mim */

/* Inicio estilização contato */
.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 35%;
  margin: auto;
}

.form {
  width: 100%;
  padding: 4%;
}

form {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form h2 {
  color: aqua;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 5%;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.input i {
  position: absolute;
  right: 20px;
  top: 50%;
  color: rgba(255, 255, 255, 0.74);
}

.mensagem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label{
  color: white;
  font-size: 17px;
  margin-bottom: 4px;
}

form input {
  padding: 2vh;
  outline: none;
  border: 0;
  margin-bottom: 1vh;
  border-radius: 20px;
  background-color: var(--cor005);
  color: white;
}

form input::placeholder{color: rgba(255, 255, 255, 0.74);}

form input:focus, form textarea:focus {background-color: #153396; color: white;}

form textarea {
  resize: none;
  padding: 10px;
  outline: none;
  border-radius: 15px;
  margin-bottom: 3vh;
  background-color: var(--cor005);
  color: white;
}

form textarea::placeholder {color: rgba(255, 255, 255, 0.74);}

.btn-enviar {
  font-size: 1.2em;
  padding: 5px 0;
  border-radius: 15px;
  margin-left: 50%;
  cursor: pointer;
  border: 2px solid var(--cor005);
  color: var(--cor005);
  background-color: transparent;
  transform: translate(-50%);
  transition: all .1s;
}

.btn-enviar:hover {
  background-color: var(--cor005);
  color: white;
}
/* Fim estilização contato */

/* Inicio estilização footer */
footer {padding: 40px 3% 15px;}

footer .flex {
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
}

footer .redes-sociais {
  display: flex;
  gap: 5px;
}

footer .sociais{
  cursor: pointer;
  transition: all .2s;
}

footer .sociais:hover {transform: translatey(-5px);}

footer .redes-sociais i {
  font-size: 1.3rem;
  background-color: var(--cor005);
  color: white;
  padding: 5px 7px;
  border-radius: 10px;
}

footer .line-footer {padding: 20px 0;}

.borda {border-top: 2px solid var(--cor005);}

footer .line-footer p i {
  color: var(--cor006);
  font-size: 22px;
}

footer .line-footer p a {
  color: white;
  text-decoration: none;
  transition: all .3s;
}

footer .line-footer p a:hover {
  color: var(--corparag);
}

a#logo-footer{
  color: white;
  text-decoration: none;
  display: inline-block;
}

a#logo-footer h1 {
  font-size: 1.6rem;
}

/* Fim estilização footer */