@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --cor001: #020124;
    --cor002: #29314D;
    --cor003: #3E4C7A;
    --cor004: #1B3280;
    --cor005: #284CBF;
    --cor006: #00ffff;
    --corspan:#00f7ff;
    --corparag: #ada3a3;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
    background-color: var(--cor001);
}

section {
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.589);
}
.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

h1.titulo {
    margin: 30px 20px;
    padding-top: 15px;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    color: aqua;
}
/* Fim estilo geral */

/* Estilo navbar */

header {
    z-index: 999;
    position: fixed;
    padding: 10px 1%;
    background-color: #1b3380;
    box-shadow: 1px 1px 10px #1b3380bd;
}

header > .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    width: 100vw;
}

header a#nav {
    color: white;
    padding: 20px 30px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a#logo{
    color: white;
    text-decoration: none;
    display: inline-block;
}

header a#nav:hover,  i#menu-hb:hover {
    background-color: #061446;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 34px;
}

i#menu-hb {
    font-size: 1.6rem;
    padding: 15px;
    margin-right: 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: .4s;
}

/* Fim estilo navbar */

/* Inicio estilo topo do site */
section.topo-do-site {
    height: 990px;
    padding: 40px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.589);
}

section.topo-do-site .flex {
    flex-flow: row wrap-reverse;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.topo-do-site h1{
    font-size: 42px;
    text-align: center;
    color: white;
  }
  
  span {color: var(--corspan)}
  
  .img-perfil img {
    position: relative;
    width: 400px;
    margin: 1% auto ;
  
    filter: drop-shadow(-1px 0px 8px var(--cor006));
  
    animation: flutuar 1.5s ease-in-out infinite alternate;
  }
  @keyframes flutuar {
    0%{
      top: 0px;
    }
    100%{
      top: 30px;
    }
  }
  /* Fim estilização topo do site */

  /* Inicio estilização area sobre */


div.cursos {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

div.card-cursos {
    margin: 15px;
    padding: 1%;
    max-width: 220px;
    height: 290px;
    display: flex;
    gap: 2px;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.589);
}

#primeiro-curso {
    display: flex;
    gap: 60px;
}

.card-cursos img {
    height: 53px;
    padding-top: 5px;
}

.card-cursos h1 {
    font-size: 1.3rem;
    color: aqua;

}

.card-cursos p {
    font-size: 0.9rem;
    color: var(--corparag);
    text-align: center;
}

.btn-cert {
    width: 190px;
    height: 30px;
    border-radius: 25px;
    font-size: 0.9rem;
    border: 2px solid #1c7ce2;
    background-color: transparent;
}

.btn-cert a {
    text-decoration: none;
    color: #1c7ce2;
    
}

.btn-cert:hover {
    background-color: #1c7ce2;
}

.btn-cert:hover a {
    background-color: #1c7ce2;
    color: white;
}

.texto-hard{
    display: flex;
    gap: 220px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.texto-hard ul {
    color: var(--corparag);
    line-height: 50px;
}


/* Fim estilização area sobre */

/* Inicio Estilização area sobre mim */
.sobre-mim .interface {
    max-width: 90vw;
}
.conteudo-sobre-mim{
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 30px;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

.conteudo-sobre-mim .sticker2 img{
    border-radius: 40px 0px;
    background-color: var(--cor005);
}

.text-me {
    display: block;
    align-self: flex-start;
    padding: 30px 40px;
}

.text-me p {
    font-size: 1.1rem;
    margin: auto;
    color: rgb(173, 163, 163);
    text-align: justify;
}
/* Fim estilização sobre mim */