@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --cor001: #020124;
    --cor002: #29314D;
    --cor003: #3E4C7A;
    --cor004: #1B3280;
    --cor005: #284CBF;
    --cor006: #00ffff;
    --corspan:#0000ff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
    background-color: var(--cor001);
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}
/* Fim estilo geral */

/* Estilo navbar */

header {
    position: relative;
    padding: 40px 1%;
}

header > .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

header a#nav {
    color: white;
    padding: 20px 30px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a#logo{
    color: white;
    text-decoration: none;
    display: inline-block;
}

header a#nav:hover,  i#menu-hb:hover {
    background-color: #061446;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

i#menu-hb {
    font-size: 1.6rem;
    padding: 15px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: .4s;
}

/* Fim estilo navbar */

/* Inicio estilo topo do site */
main {
    height: 100%;
    border: 1px solid red;
}


section.topo-do-site {
    height: 85vh;
    padding: 40px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--cor006);
}

section.topo-do-site .flex {
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.topo-do-site h1{
    font-size: 42px;
    text-align: center;
    color: white;
  }
  
  span {color: var(--corspan)}
  
  .img-perfil img {
    position: relative;
    width: 400px;
    margin: 1% auto ;
  
    filter: drop-shadow(-1px 0px 8px var(--cor006));
  
    animation: flutuar 1.5s ease-in-out infinite alternate;
  }
  @keyframes flutuar {
    0%{
      top: 0px;
    }
    100%{
      top: 30px;
    }
  }
  /* Fim estilização topo do site */

  /* Inicio estilização area sobre mim */
  h1#titulo {
    margin: 10px;
    padding-top: 15px;
    text-align: center;
    font-size: 3rem;
    color: aqua;
}


div.cursos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

div.card-cursos {
    margin: 15px;
    width: 215px;
    height: 270px;
    display: flex;
    gap: 2px;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.589);
}

#primeiro-curso {
    display: flex;
    gap: 60px;
}

.card-cursos img {
    height: 53px;
    width: 50px;
    padding-top: 5px;
}

.card-cursos h1 {
    font-size: 1.6rem;
    color: aqua;

}

.card-cursos p {
    color: rgb(173, 163, 163);
    text-align: center;
}

.btn-cert {
    width: 180px;
    height: 30px;
    border-radius: 25px;
    font-size: 1rem;
    border: 2px solid #1c7ce2;
    background-color: transparent;
}

.btn-cert a {
    text-decoration: none;
    color: #1c7ce2;
    
}

.btn-cert:hover {
    background-color: #1c7ce2;
}

.btn-cert:hover a {
    background-color: #1c7ce2;
    color: white;
}

.sobre-mim {
    width: 100%;
}

.text-me {

    display: block;
    margin: auto;
    flex-flow: wrap;
    width: 90%;
    justify-content: center;
}

.text-me p {
    font-size: 1.3rem;
    padding: 20px;
    margin: auto;
    color: rgb(173, 163, 163);
    text-align: left;
}